{% extends "base_generic.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto mt-8">
    <h2 class="text-2xl font-bold mb-4">{{title}}</h2>
    {% if form.errors %}
        <p class="text-red-500">Please correct the error{{ form.errors|pluralize }} below.</p>
    {% endif %}

    <form method="post" class="bg-gray-200 p-4 rounded-lg">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">{{button_name}}</button>
    </form>
</div>
{% endblock %}
