{% extends "base_generic.html" %}

{% block title %}
    Doctor Details
{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto mt-8">
    <h2 class="text-2xl font-bold mb-4">{{ doctor.name }}</h2>
    
    <div class="bg-white shadow-md rounded-lg p-4">
        <!-- Button Container for Update Button -->
        <div class="flex justify-end mb-4">
            <a href="{% url 'update_doctor' doctor.id %}" class="bg-yellow-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-yellow-600">
                Update
            </a>
        </div>
        <p><strong>Email:</strong> {{ doctor.user.email }}</p>
        <p><strong>Phone:</strong> {{ doctor.user.phone_number }}</p>
        <p><strong>Specialization:</strong> {{ doctor.specialization }}</p>
        <p><strong>Created at:</strong> {{ doctor.created_at }}</p>
        <p><strong>Last updated:</strong> {{ doctor.updated_at }}</p>
    </div>
    
    <div class="mt-8 flex space-x-4">
        <a href="{% url 'doctor_list' %}" class="bg-gray-600 text-white py-2 px-4 rounded hover:bg-gray-700">
            Back to List
        </a>
    </div>
</div>
{% endblock %}
