{% extends "base_generic.html" %}

{% block title %}
    Doctors List
{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto mt-8">
    <h2 class="text-2xl font-bold mb-4">Doctors List</h2>

    <!-- Button Container for Search, Filter Forms, and Create Button -->
    <div class="flex justify-between mb-4">
        <div class="flex space-x-4">
            <!-- Search Form -->
            <form method="GET">
                <div class="flex space-x-4">
                    <input 
                        type="text" 
                        name="search_query" 
                        value="{{ search_query }}" 
                        placeholder="Search by name, phone number, or email" 
                        class="border border-gray-300 rounded px-4 py-2"
                    />
                    <button 
                        type="submit" 
                        class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700"
                    >
                        Search
                    </button>
                </div>
            </form>

            <!-- Filter Form -->
            <form method="GET">
                <div class="flex space-x-4">
                    <select name="filter_specialization" class="border border-gray-300 rounded px-4 py-2">
                        <option value="" disabled {% if specialization_filter == "" %}selected{% endif %}>Select Specialization</option>
                        {% for specialization in specializations %}
                            <option value="{{ specialization }}" {% if specialization_filter == specialization %}selected{% endif %}>{{ specialization }}</option>
                        {% endfor %}
                    </select>
                    <button 
                        type="submit" 
                        class="bg-green-600 text-white py-2 px-4 rounded hover:bg-green-700"
                    >
                        Filter
                    </button>
                </div>
            </form>
        </div>

        <!-- Create New Doctor Button -->
        <a href="{% url 'create_doctor' %}" class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">
            Create New Doctor
        </a>
    </div>

    <!-- Doctors List -->
    <ul class="space-y-4">
        {% if not doctors %}
            <li class="bg-white shadow-md rounded-lg p-4">
                <p class="text-gray-600">No Doctors found.</p>
            </li>
        {% else %}
            {% for doctor in doctors %}
                <li class="bg-white shadow-md rounded-lg p-4 flex justify-between items-center">
                    <div>
                        Doctor:
                        <a href="{% url 'doctor_details' doctor.pk %}" class="text-blue-600 hover:underline">
                            {{ doctor.user.username }}
                        </a>
                    </div>
                    <div class="flex space-x-2 ml-auto">
                        <a href="{% url 'doctor_details' doctor.pk %}" class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600">
                            View Details
                        </a>
                        <a href="{% url 'delete_doctor' doctor.user.pk %}" class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600">
                            Delete
                        </a>
                    </div>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>
{% endblock %}
