{% extends "base_generic.html" %}

{% block title %}
    Patient List
{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto mt-8">
    <h2 class="text-2xl font-bold mb-4">Patient List</h2>
    <ul class="space-y-4">
        {% if not patients %}
            <li class="bg-white shadow-md rounded-lg p-4">
                <p class="text-gray-600">No patients found.</p>
            </li>
        {% endif %}
        {% for patient in patients %}
            <li class="bg-white shadow-md rounded-lg p-4 flex justify-between items-center">
                <div>
                    Patient:
                    <a href="{% url 'patient_detail' patient.pk %}" class="text-blue-600 hover:underline">
                        {{ patient.user.username }}
                    </a>
                </div>
               
                <div class="space-x-2">
                    <a href="{% url 'patient_detail' patient.pk %}" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
                        View Details
                    </a>
                {% if user.is_superuser %}
                    <a href="{% url 'delete_patient' patient.user.pk %}" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700">
                        Delete
                    </a>
                </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if user.is_superuser %}
    <div class="mt-8">
        <a href="{% url 'create_patient' %}" class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">
            Create New Patient
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}
